stages:
  - build
  - pages

default:
  image: node:20

build:
  stage: build
  variables:
    HUGO_BASEURL: $CI_PAGES_URL
  script:
    - npm ci
    - npm run docs-build
  artifacts:
    paths:
      - _site
    expire_in: "2 hours"

pages:
  stage: pages
  script:
    - cp -r _site public
    - echo "Deploying!"
  artifacts:
    paths:
      - public